{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
<div class="col">
    <div class="col-md-4">
        <h2 class="form-signin-heading">登录</h2>
        {{ wtf.quick_form(form, form_type="horizontal") }}
    </div>
    <div class="col-md-4">
        <h2 class="form-signup-heading">注册</h2>
        <form method="POST", action="/register">
        	{{ re_form.username }}
        	{{ re_form.password }}
        	{{ re_form.submit }}
        </form>
    </div>
</div>
<div class="col">
	<div class="col-md-4">
        <h2 class="form-signin-heading">trustsql</h2>
    </div>
</div>
{% endblock %}
