{% extends "base.html" %}

{% block page_content %}

{% if user %}
<div class="row">
	<p>用户：{{ user.username }} | ID: {{ user.id }}</p>
</div>
<hr>
{% endif %}
{% if tsql %}
<div class="row">
	<p>私钥：{{ tsql.prvkey }}</p><hr>
	<p>公钥：{{ tsql.pubkey }}</p><hr>
</div>
<div class="row">
	<p class="form-signin-heading">为字符串签名</p>
	<form method="POST" action="/signString" class="col-md-8">
		<div class="form-group required">
			{{ form.prvkey.label }}
			{{ form.prvkey }}
		</div>
		<div class="form-group required">
			{{ form.pStr.label }}
			{{ form.pStr }}
		</div>
		{{ form.submit(class="btn btn-info submit") }}
	</form>
</div>

{% endif %}
{% endblock %}