{% extends "base.html" %}

{% block page_content %}
<script type="text/javascript" src="../static/js/jquery.js"></script>
<script type="text/javascript" src="../static/js/trustsql.js"></script>

{% if user %}
<div class="row">
	<p>用户：{{ user.username }} | ID: {{ user.id }}</p>
</div>
<hr>
{% endif %}
{% if tsql %}
<div class="row">
	<p>私钥：{{ tsql.prvkey }}</p><hr>
	<p>公钥：{{ tsql.pubkey }}</p><hr>
</div>
<div class="row">
	<p class="form-signin-heading">为字符串签名</p>
	<form id="signString_form">
		<div class="form-group required">
			{{ form.prvkey.label }}
			{{ form.prvkey }}
		</div>
		<div class="form-group required">
			{{ form.pStr.label }}
			{{ form.pStr }}
		</div>
		<button type="button" id="trustsql_signString">提交</button>
		<p>签名结果：<span id="signStringResult"></span></p>
	</form>
</div>
{% endif %}
{% endblock %}